<nav class="navbar navbar-expand-sm">

    <img src="assets/Lion.jpg" class="navbar-brand">
  
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu" >
      <span class="navbar-toggler-icon" ></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav mx-auto text-md-center">
        <li class="nav-item" >
          <a href="#" class="nav-link" [routerLink]="['/']"> <b>Home</b>  </a>
        </li>
        <li class="nav-item" >
          <a href="#" class="nav-link" [routerLink]="['/tasks']"> <b>Tasks</b>  </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"> <b>Archived</b>  </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"> <b>About</b>  </a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link" style="border: 1px solid white; border-radius: 5px;"> <b>Login</b>  </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" style="border: 1px solid white; border-radius: 5px;"> <b>Register</b>  </a>
        </li>
      </ul>
    </div>
  </nav>
  
