nav {
    background-color: black;
  }
  
  nav > button {
    border-color: aliceblue;
  }
  
  nav > div > ul > li > a{
    color: #007bff
  }
  
  img {
    position: relative;
    left : 0px;
    top : 0px;
    height : 56px;
    width : 97px;
    padding: 0%;
  }
  